@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-hover:hover {
  color: #ffc107 !important; /* Changes text to a vibrant yellow */
  text-decoration: underline;
}

.bg-gradient {
  background: linear-gradient(90deg, #343a40, #454d55);
}
